{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Aqua Moov{% endblock %}

{% block body %}
    <main class="background-image">
        <div class="logo-center-home-page">
            <img
                    class="logo-center-svg"
                    src="{{ asset('assets/image/logo/logo-sport-black.svg') }}"
                    alt="Logo de la marque de salle sport">
        </div>
    </main>
{% endblock %}
