{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Aqua Moov{% endblock %}

{% block body %}
    <main class="background-image">
        {# Message de confirmation, comme quoi l'email à été vérifié  #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
        <div class="logo-center-home-page">
            <img
                    class="logo-center-svg"
                    src="{{ asset('assets/image/logo/logo-sport-black.svg') }}"
                    alt="Logo de la marque de salle sport">
        </div>
    </main>
{% endblock %}
